<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ac.mace.in">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="Takshak&apos;16"
        android:theme="@style/AppTheme">
        <activity
            android:name="in.ac.mace.in.activities.Main"
            android:theme="@style/TransitionSampleActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.ac.mace.in.activities.Registration"
            android:theme="@style/TransitionSampleSecondActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="in.ac.mace.in.myapplication.RegistrationMain"
            android:theme="@style/TransitionSampleSecondActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="in.ac.mace.in.myapplication.ViewReg"
            android:screenOrientation="portrait"/>
        <activity android:name="in.ac.mace.in.activities.Events"
            android:screenOrientation="portrait"/>
        <activity android:name="in.ac.mace.in.myapplication.qrcode"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
