<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ac.mace.in">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="Takshak&apos;16"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Main"
            android:screenOrientation="portrait"
            android:theme="@style/TransitionSampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Registration"
            android:screenOrientation="portrait"
            android:theme="@style/TransitionSampleSecondActivity" />
        <activity
            android:name=".myapplication.RegistrationMain"
            android:screenOrientation="portrait"
            android:theme="@style/TransitionSampleSecondActivity" />
        <activity
            android:name=".myapplication.ViewReg"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Events"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myapplication.qrcode"
            android:screenOrientation="portrait" />
        <activity android:name=".RegComp"></activity>
    </application>

</manifest>
